/* FUENTES */
@font-face{
    font-family: "fajala";
    src: url(../assets/fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GENERALES */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
}

body{
    background: url(../assets/img/cubes.png) #f4f4f4;
}

/* CABECERA */

#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: auto;
}

/*LOGOTIPO*/
#logo{
    float: left;
    width: 540px;
    height: 110px;
}

#logo a{
    font-family: 'fajala', Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;  /*Sombrear el título*/
    transition: all 500ms;  /*Retrasar la entrada del titulo*/
    line-height: 90px;
    margin-left: 10px;
}

#logo a:hover{  /*Efecto de invertir el sombreado del titulo    */
    cursor: pointer;
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;  /*Sombrear el título*/
}

/*MENÚ*/
#menu{
    clear: both;
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom,#f9f9f9 0px, #e9e9e9 100%) ;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden; /*Soluciona el problema del desborde del hover por el border radius*/
}
#menu ul{
    list-style: none;
}
#menu ul li{
    float: left;
    line-height: 44px;
    border-right: 1px solid #d6d6d6;
}

#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #838282;
}
#menu ul li a:hover{
    background: linear-gradient(to bottom,#f2f2f2 0px, #dad9d4 100%) ;
}

/*CONTENIDO*/
#contenedor{
    width: 85%;
    height: auto;
    /* min-height: auto; */
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*BARRA LATERAL*/
#sidebar{
    float: right;
    width: 27%;
    height: auto;
}
.bloque{
    display: block;
    width: 90%;
    margin: 0px auto;
    background: white;
    padding: 15px;
    /*box-shadow para efecto de caja 3d*/
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #ffff inset, 0px -3px 2px rgba(0,0,0,0.25) inset;
    margin-bottom: 35px;
}
.bloque h3{
    margin-bottom: 10px;
}

label,
input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 5px;
    margin-bottom: 10px;
}
input[type="button"],
input[type="submit"]{
    margin-top: 5px;
    margin-bottom: 5px;

    display: block;
    border-radius: 2px;
    
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    padding: 7px;

    
    
}

/*PRINCIPAL*/
#principal{
    float: left;
    width: 65%;
    min-height: 550px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 20px;
    overflow: hidden;
    padding: 20px;
}
#principal a{
    color: #333;
}
#principal h1{
    font-size:  32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: "fajala";
}
#principal h2{
    font-size:  20px;
    color: #2979cd;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
    margin-top: 25px;
}
#principal p{
    margin-top: 8px;
}
#ver-todas a{
    display: block;
    border-radius: 2px;
    padding: 15px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    width: 160px;
    margin: 0px auto;
    margin-top: 50px;
}

/*PIE DE PÁGINA*/

#pie{
    width: 85%;
    clear: both;
    margin: 0px auto;
    background: linear-gradient(to bottom,#f9f9f9 0px, #e9e9e9 100%) ;
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    height: auto;
    padding: 15px;
    text-align: center;
}