/* GENERALES */

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}
body{
    background: url(../img/bg.png);
}
a{
    color: #01B1EA;
}
a:visited{
    color: #01B1EA;
}
a:hover{
    color: #555555;
}
.alert_green{
    color: rgb(18, 189, 18);
}
.alert_red{
    color: red;
}
table{
    text-align: center;
    width: 100%;
    border: 1px solid #555;
}
td{
    border-top: 1px solid #ccc;
    padding: 2px;
}

.thumb{
    width: 100px;
}

/* CONTAINER */
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}
/* HEADER */

#header{
    height: 145px;
    background: #F0F0F0;
}
#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}
#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Arial, Helvetica ;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}
#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/* MENU */

#menu{
    background: #222;
    color: white;
    height: 55px;
    clear: both;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}
#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}
#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 12px 0 12px;
    transition: all 300ms;
}
#menu a:first-child{
    border-left: 1.5px solid #8f8f8f;
}
#menu a:hover{
    background: #01B1EA;
}

/* CONTENT */
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/* BARRA LATERAL */
#lateral{
    width: 22%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid black;
}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}
#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding: 2px 0 2px 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid #01B1EA;
}
#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* FORMULARIOS */
.form_container{
    width: 50%;
}
label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select{
    border: 1px solid #1578b5;
    color: black;
}
input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px 10px 5px 10px;
    color: white;
    background: #2979cd;
    border:  1px solid #11608e;
    cursor: pointer;
}
.button{
    background-color: #33AE3D;
    color: white !important;
    text-decoration: none;
}
.button-small{
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}
.button-gestion{
    margin-top: 5px;
    margin-bottom: 10px;
}
.button-red{
    background-color: red;
    border: 1px solid #cf1717;
}
label,
input[type="button"],
input[type="submit"],
button{
    display: block;
    margin-top: 10px;
}

/* CENTRAL */
#central{
    width: 72%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}
#central h1{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: 1px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    margin-top: -10px;
    padding: 20px;
    text-align: center;

}

/* PRODUCTOS */
.product{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
.product img{
    width: 150px;
    height: 170px;
    margin-bottom: 10px;
}

/* FOOTER */
#footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #222;
    clear: both;
    border-top: 5px solid #01B1EA;
}

